.sidebar {
    background-color: #ececf3;
    position: fixed;
    height: 100vh;
    color: #242141;
    flex: 0 auto;
    min-width: 25%;
    height: inherit;
    padding: 2rem;
    height: 100%;
    overflow-y: auto;

    @include mq-desktop {
        max-width: 25%;
    }

    @include mq-laptop {
        max-width: 30%;
    }

    @include mq-tablet-portrait {
        min-width: 100%;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-block: 2rem;
    }
}